<html>
  <head>
    <title>Participantes Infantiles</title>
  </head>
  <body>
    <div>
      <h1><a href="">Lista de Participantes</a></h1>
    </div>

    <div>
      <h2>Susana Sarahi Novoa Feliciando</h2>
      <ul>
        <li>Septiembre 2015</li>
        <li>Octubre 2015</li>
        <li>Noviembre 2015</li>
        <li>Diciembre 2015 (Navidad)</li>
      </ul>
    </div>

    <div>
      <h2>Karina Abigail Falcon Novoa</h2>
      <ul>
        <li>Septiembre 2015</li>
        <li>Octubre 2015</li>
        <li>Noviembre 2015</li>
        <li>Diciembre 2015 (Navidad)</li>
      </ul>
    </div>

    <div>
      <h2>Ingrid Mayte Falcon Novoa</h2>
      <ul>
        <li>Septiembre 2015</li>
        <li>Octubre 2015</li>
        <li>Noviembre 2015</li>
        <li>Diciembre 2015 (Navidad)</li>
      </ul>
    </div>
  </body>
</html>
